<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>PhotoMall</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <h1>PhotoMall</h1>

        </div>
        <h2>Your source of pictures</h2>
        <h2>Made possible by yourself</h2>
        <input type="text">
        <p>Images of various categories</p>

    </div>
    <div class="container">
        <h1>Categories</h1>
        <div class="row">
            <li> <a href=""> Portrait</a>
                <a href=""> Landscape</a>
                <a href="">Travel</a>
                <a href="">Pet</a>
                <a href="">Food</a>
                <a href="">Sports</a>
                <a href="">Wildlife</a>
            </li>

        </div>

</body>

</html>