<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">{% load static %}
    <link rel="stylesheet" href="{%static 'my_photos.css'%}">
    <title>PhotoMall</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <h2>PhotoMall</h2>
            <a href="">Home</a>
        </div>
        <div class="container">
            <h3>My Photos</h3>
            <p>this is where your photos will be displayed.</p>
            <button>Add an Image</button> {% for image in images_list %}
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{news.image}}) no-repeat center center">
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
                    <h3>{{ news.title }}</h3>

                    <p class="description"> {{ news.description }}</p>
                    <p class="published"> {{ news.published_date }}</p>
                    <p class="content"> {{ news.content }}</p>



                </div>
</body>

</html>