<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">{% load static %}
    <link rel="stylesheet" href="{% static 'photo.css'%}">
    <title>PhotoMall</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <h2>PhotoMall</h2>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Movies</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex" role="search" action="{% url 'search_images' %}">
                <input type="text" placeholder="Search">
            </form>


        </div>
        <div class="container">
            <h2>Images</h2>
            <p>This is where your images will be displayed.</p>
            <div class="container images">

                <div class="row" style="margin-top: 10px;">
                    <div class="row">
                        {% for photo in images %}
                        <figure class="test thumbnail col-xs-6">
                            <h1></h1>
                            <img src="{{photo.image.url}}" id="myImg" class="img-responsive" width="400" height="250">
                            <div class="titleBox">{{photo.name|upper}}</div>


                            <figcaption>

                                <a href="{% url 'image' photo.pk%}" class="btn btn-danger">View image</a>

                            </figcaption>
                            <hr>
                            <!-- Scrollable modal -->

                        </figure>
                        {% endfor %}
                    </div>

                </div>

            </div>
</body>

</html>