<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'single_photo.css'%}">
    <title>PhotoMall</title>
</head>

<body>
    <div class="navbar">
        <h2>PhotoMall</h2>

        <input type="text" placeholder="Search">
    </div>
    <div class="row">
        <figure class="test thumbnail col-xs-6">
            <img src="{{photo.image.url}}" id="myImg" class="img-responsive" width="800" height="600">
            <div class="titleBox">{{photo.name|upper}}</div>
            <div class="titleBox">{{photo.category}}</div>
            <div class="titleBox">{{photo.location}}</div>
            <div class="titleBox">{{photo.post_date}}</div>

            <div class="row">
                <script>
                    function myFunction() {
                        var copyText = document.getElementById("myInput");
                        copyText.select();
                        document.execCommand("Copy");
                        alert("Copied the text: " + copyText.value);
                    }
                </script>
                <input class="form-control" type="text" value="{{photo.image}}" id="myInput">
                <a onclick="myFunction()" class="btn btn-default ">Copy Image link  &nbsp<i class="glyphicon glyphicon-paperclip"></i>
                 </a>
            </div>
        </figure>
    </div>

</body>

</html>