<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header" style="text-align:center">
            <h5 class="modal-title" id="exampleModalLabel"><u>{{photo.name}}</u></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p><b>Description:</b> {{ photo.description }}</p>
            <p><b>Posted on:</b> {{photo.location}}</p>
            <p><b>Category:</b> {{photo.category}}</p>
        </div>
        <div class="modal-footer" style="display:flex;justify-content:space-between;">
            <button class="btn btn-secondary" id="copy-link" value="{{image.image_path.url}}">Copy link</button>
            <small>{{image.date_taken}}</small>
        </div>
    </div>
</div>